.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* Centers all content */
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin: 2rem auto 3rem; /* Adjusts the spacing around the heading */
  text-align: center; /* Centers the heading */
}

.infoSection {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem; /* Adds space before the footer */
}

.textWithImage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Centers the content */
}

.textSection {
  flex: 1;
  margin-right: 2rem;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.subheading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 16px;
  line-height: 1.8; 
  margin-bottom: 2rem; 
  text-align: justify; 
  padding: 0 1.5rem; 
  color: #333; 
}


.resourceGrid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.resourceCard {
  flex: 1;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  text-align: center;
}

.resourceCard:hover {
  transform: translateY(-10px);
}

.resourceCard a {
  color: #0070f3;
  text-decoration: none;
}

.resourceCard a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .textWithImage {
    flex-direction: column;
  }
  
  .imageSection {
    margin-top: 1rem;
  }

  .resourceGrid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem; 
  }

  .faqSection {
    margin-top: 3rem;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .faqHeading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .faqItem {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .faqItem:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .faqQuestion {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: #0070f3;
  }
  
  .faqQuestion:hover {
    color: #005bb5;
  }
  
  .faqAnswer {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    padding-left: 1rem;
    border-left: 3px solid #0070f3;
    transition: max-height 0.3s ease;
  }
  
  .faqAnswer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .faqSection {
      padding: 1rem;
    }
  
    .faqItem {
      padding-bottom: 0.5rem;
    }
  
    .faqQuestion {
      font-size: 16px;
    }
  
    .faqAnswer {
      font-size: 14px;
    }
  }
  
  
}